@import url(https://fonts.googleapis.com/css?family=Lato:300);

body{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
 }
 
.container{
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(to bottom right, rgb(131, 131, 255), pink);
}

.box:nth-child(2n-1){
  background-color: rgba(0,0,0,0.15);
}

.box{
  display: inline-block;
  height: 700px;
  width: 33.3%;
  position: relative;
  /*margin:0 -4px -5px -2px;*/
  transition: all .2s ease;
}



.box p{
  color: #ffffff;
  font-family:  Lato,"Helvetica Neue" ;
  font-weight: 600;
  position: absolute;
  top: 50px;

  bottom: 0px;
  font-size: 25px;
  width: 100%;
  height: 45px;
  text-align: center;
  margin: 0;
  background-image: linear-gradient(to top left, rgb(207, 132, 173), rgba(255, 0, 255, 0.555));
  opacity: 0;
  text-transform: uppercase;
  transition: all .2s ease;
}

.box:hover p{
  bottom:0px;
  top:175px;
  opacity: 1;
  transition: all .2s ease;
  z-index: 2;
}

/* MEDIA QUERIES */
@media (max-width: 700px){
    .box{
      width: 55%;
    }
  
    .box:nth-child(2n-1){
      background-color: inherit;
    }
  
    .box:nth-child(4n),.box:nth-child(4n-3) {
      background-color:   rgba(36, 11, 62, 0.15);
    }
  
  }
  
  @media (max-width: 420px){
    .box{
      width: 100%;
    }
  
    .box:nth-child(4n),.box:nth-child(4n-3){
      background-color: inherit;
    }
  
    .box:nth-child(2n-1){
      background-color:rgba(94, 13, 13, 0.05);
    }
  
  }
  
  /* -------------- loader8 -------------- */

.loader8{
    position: relative;
    width: 80px;
    height: 80px;
  
    top: 28%;
    top: -webkit-calc(50% - 43px);
    top: calc(50% - 5px);
    left: 35%;
    left: -webkit-calc(50% - 43px);
    left: calc(50% - 40px);
  
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border-width: 40px;
    border-style: double;
    border-color:transparent  #fff;
  
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
      box-sizing:border-box;
  
    -webkit-transform-origin:  50% 50%;
      transform-origin:  50% 50% ;
    -webkit-animation: loader8 10s linear infinite;
      animation: loader8 10s linear infinite;
    
  }
  
  
  
  
  @-webkit-keyframes loader8{
      0%{-webkit-transform:rotate(0deg);}
      100%{-webkit-transform:rotate(360deg);}
  }
  
  @keyframes loader8{
      0%{transform:rotate(0deg);}
      100%{transform:rotate(360deg);}
  }
  

  /* @import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Nanum+Pen+Script&family=Noto+Serif+KR:wght@500&display=swap'); */
  @font-face {
    font-family: 'NanumPenScript-Regular';
    src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('https://chinoel.github.io/Support_Quiz/font/NanumPenScript-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'HiMelody-Regular';
    src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('https://chinoel.github.io/Support_Quiz/font/HiMelody-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  }