.user-wrap {
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    position: relative;
}

.user-wrap img {
    width: 100%;
    vertical-align: middle;
}
.user-text {
    position: absolute;
    top: 11%;
    left: 25%;
    width: 100%;
    transform: translate(-50%, -50%);
    
    font-weight: 550;
    font-size: small;
    text-align: center;

    animation-name: capture-check;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;

    opacity: 1;
}
.user-check {
    position: absolute;
    top: 73.1%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    
    font-weight: 500;
    font-size: small;
    text-align: center;
}

@-webkit-keyframes capture-check {
    0% {
        left:25%;
    }
    100% {
        left:75%;
    }
}